Flask==3.0.3
gunicorn==22.0.0
Pillow==11.2.1
segno==1.6.1
pypdf==4.3.1
reportlab==4.2.2
pytesseract==0.3.13
pdf2image==1.17.0
pyzbar==0.1.9
yt-dlp==2024.8.6

Flask-Limiter==3.8.0
sentry-sdk[flask]==2.29.1

playwright
