[Unit]
Description=MeloTools
After=network.target

[Service]
User=root
WorkingDirectory=/srv/melotools
Environment="PATH=/srv/melotools/venv/bin"
ExecStart=/srv/melotools/venv/bin/gunicorn -w 2 -b 0.0.0.0:8090 app:app
Restart=always

[Install]
WantedBy=multi-user.target
