MELOTOOLS_SECRET_KEY=replace-with-a-random-secret
MELOTOOLS_MAX_UPLOAD_MB=250
MELOTOOLS_UPLOAD_DIR=/var/lib/melotools/uploads
MELOTOOLS_RESULT_DIR=/var/lib/melotools/results
MELOTOOLS_MAX_CONCURRENT_JOBS=2
MELOTOOLS_MAX_IMAGE_PIXELS=40000000
MELOTOOLS_MAX_PDF_PAGES=500
MELOTOOLS_RESULT_TTL_SECONDS=86400
MELOTOOLS_DEFAULT_RATE_LIMIT=180 per minute
MELOTOOLS_LOG_LEVEL=INFO
MELOTOOLS_ALLOWED_MEDIA_HOSTS=youtube.com,youtu.be,instagram.com,threads.net,threads.com,tiktok.com,vimeo.com,x.com,twitter.com,facebook.com
# SENTRY_DSN=
